<div class="jumbotron">
  <h1 class="thin-weight">Slingshot: Sell your tix!</h1>
  <p>
      <%= link_to "Sign Up Now!", new_user_registration_path, class: 'btn btn-success btn-lg signup' %>
  </p>
</div>
