<div class="hero-unit">
  <h1>Slingshot</h1>
  <p>Selling tix made easy!</p>
  <p>
      <%= link_to "Sign Up Now!", new_user_registration_path, class: 'btn btn-success btn-large' %>
  </p>
</div>

<div class="row">
  <div class="span4">
    <h2>Stub 1</h2>
    <p>This is some content about how great point 1 is. You should really use Bloccit because of it! No seriously, it really is amazing and great and you should really check it out.</p>
  </div>
  <div class="span4">
    <h2>Stub 2</h2>
    <p>This is some content about how great point 2 is. You should really use Bloccit because of it! No seriously, it really is amazing and great and you should really check it out.</p>
  </div>
  <div class="span4">
    <h2>Stub 3</h2>
    <p>This is some content about how great point 3 is. You should really use Bloccit because of it! No seriously, it really is amazing and great and you should really check it out.</p>
  </div>
</div>