<h1>Tickets For Sale</h1>


<% @tickets.each do |ticket| %>
  <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= ticket.date %>: <%= link_to ticket.title, ticket %>
        </h4>
      </div>
    </div>
<% end %>
