<div class="row">
	<div class="col-md-6">
		<h2>Tickets For Sale</h2>
		<%= link_to "Sell Ticket", new_ticket_path, class: 'btn btn-primary' %>
	</div>
</div>

<% @tickets.each do |ticket| %>
  <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= ticket.date %>: <%= link_to ticket.title, ticket %>
        </h4>
      </div>
    </div>
<% end %>
