@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
  margin-bottom: 30px;
}

.jumbotron {
  text-align: center;
}

.container {
	width: 768px;
}

.footer {
	padding-top: 19px;
	color: #777;
	border-top: 2px solid #e5e5e5;
	bottom: 0px;
	position: absolute;
}

.save {
	padding-top: 10px;
	padding-bottom: 10px;
}