@import "bootstrap";
@import "typography";
@import "buttons";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
  margin-bottom: 30px;
}

.jumbotron {
  text-align: center;
  background-color: inherit;
}

.container {
	width: 768px;
}